.reveal h2 {
    font-size: 1em;
}

.reveal h3 {
    font-size: 0.7em;
}

.reveal section img {
    background-color: #323131;
}

.overlay-block {
    position: absolute;
    top: 41%;
    background-color: #222;
    color: white;
    width: 56%;
    height: 39%;

    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;

    border-radius:10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.static-position-block {
    position: absolute; 
    left:10%;
    margin-top:-30px !important;
}

.static-position-block span {
    float: left;
    text-align: left;
}


/* Common button styles */
.button {
    background-color: #3aa6dd; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.7;
}

.button:hover {
    opacity: 1
}

img.bottom-logo {
    background-color: white !important;
    padding: 8px 8px 8px 8px;
    width: 20%;
    border-radius: 10px;
}

.button.selected {
    border: solid 4px white;
}